#home-photo {
  background-image: url(../images/office_wide.jpg);
  background-position: top center;
  background-size: cover;
  height: 300px;  
  display: table;
  width: 100%;
  margin-top: 4px;
}

#home-photo p {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px #000;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
}

/*
#home-carousel .carousel-caption {
  font-size: 26px;
  padding-bottom: 43px;
  text-shadow: 2px 1px 5px #000;
}
*/
#four-blocks {
  margin-top: 4px; 
}

#four-blocks .thumbnail {
  border: none;
  padding: 20px 5px 10px;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
}

#four-blocks .thumbnail .fa {
  font-size: 80px;
  display: table-row;
}

#four-blocks .caption {
  font-size: 17px;
  display: table-cell;
}

#home-abstract {
  padding: 20px;
  border-radius: 8px;
  margin: 0 15px;
}

#home-abstract > .media-left {
  vertical-align: middle;
  display: block;
}

#home-abstract > .media-left > img{
  width: 150px;  
}

#home-abstract > .media-body {
  vertical-align: middle;
  text-align: center;
}

#home-abstract .media-heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
  color: #666;
  text-align: center;
}

.event-preview {
  border: 3px solid #E99B05;
  border-radius: 8px;
  padding: 20px;
  margin: 0 15px 20px;
  box-shadow: 2px 2px 13px #888;
}

.event-preview .media-heading {
  font-weight: bold;
}

.event-preview .media-left {
  min-width: 160px;
  font-size: 20px;
  vertical-align: top;
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  #home-photo p {
    font-size: 22px;
    line-height: 40px;
  }
  
  #home-abstract {
    padding: 40px;
  }
  
  #home-abstract > .media-left {
    display: table-cell;
  }
  
  #home-abstract > .media-left > img{
    width: 200px;  
  }
  
  #home-abstract .media-heading,
  #home-abstract > .media-body {
    text-align: left;
  }
  
  #four-blocks .thumbnail {
    height: 260px;
    padding: 40px 5px 0px;
  }
  
  #four-blocks .caption {
    padding: 20px 5px;
  }
  
  .event-preview {
    padding: 20px 60px;
  }

  .event-preview .media-left {
    display: table-cell;
    margin-bottom: 0;
  }
   
  .event-preview .calendar .fa {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #home-abstract {
    padding: 0 100px; 
  }
  
  #home-abstract > .media-left > img {
    width: 300px;
  }
  
  .event-preview {
    padding: 20px 100px;
  }
  
}