.navbar-default {
  background-color: #555;
  margin-bottom: 0;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #DDD;
}

.navbar-nav>li>a {
  line-height: 30px;
  font-size: 14px;
}

.nav>li>a {
  padding: 10px 22px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-brand {
  padding: 0px;
}

.container-fluid>.navbar-header {
  margin: inherit;
}

#left-navbar {
  margin: 0 0 5px;
}

#left-navbar li {
  color: #FFF;
  font-family: Courier new;
  font-size: 19px;
  text-align: center;
}

#cookies-popup {
  display: none;
  padding: 5px 20px;
  background-color: #FFFFCC;
}

#cookies-popup > p {
  float: left;
  padding: 4px 20px 4px 0;
}

#cookies-popup > div{
  float: left;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 0 15px;
  }
  
  #left-navbar {
    margin-bottom: 0;
  }
  
  #left-navbar li {
    line-height: 50px;
    font-size: 17px;
    text-align: left;
  }
  
  #cookies-popup {
    padding: 5px 50px; 
  }
}