.media-left, .media-right, .media-body {
  vertical-align: middle;
}

#pricing .row {
    height: 100%;
}

#pricing .row > div {
    margin-bottom: 2em;
}

.pricing-package {
    height: 266px;
    box-shadow: 0px 0px 16px #888;
    border-radius: 6px;
    padding: 5px;
}

.pricing-package h5 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 80px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.pricing-package h5.double-heading {
    line-height: 30px;
    padding: 10px 0;
}

.pricing-package-desc {
    font-size: 14px;
    margin: 4px 0;
    border-radius: 6px;
    background-color: #EEE;
    border: 1px solid #DDD;
}

.pricing-package-desc .media-left {
    padding: 10px;
}

.pricing-package-desc .media-body {
    height: 64px;
    padding-right: 10px;
}

.pricing-package-desc .media-body.heavy-desc {
    font-size: 90%;
}

.pricing-package table {
    width: 100%;
    height: 103px;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.pricing-package th,
.pricing-package td {
    padding: 4px;
    text-align: center;
}

.pricing-package tr:last-child th,
.pricing-package tr:last-child td {
    border-color: transparent;
}

.pricing-package th {
    border-bottom: 1px solid #EEE;
    width: 70%;
}

.pricing-package td {
    background: #F5F5E9;
    font-size: 16px;
    text-align: right;
    padding-right: 8px;
}

.fa-breast-feeding {
    background-image: url('../images/breast_feeding_blue.png');
    width: 1em;
    height: 1em;
    background-size: 1.2em;
    background-position: center;
}

#plan-img {
    width: 90%;
    border: 1px solid #BBB;
}

@media (min-width: 768px) {

    #plan-img {
        width: 700px;
    }
}

@media (min-width: 992px) {

}
  