@IMPORT url("nav.css");
@IMPORT url("footer.css");

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  font-family: verdana, sans-serif;
}

p {
  margin: 0;
  line-height: 24px;
}

input {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #BBB;
}

.bg-pattern {
  background-image: url(../res/main_abstract_pattern.png);
  text-shadow: 1px 1px 1px white;
}

.bg-pattern .btn {
  text-shadow: initial;
}

.bg-white {
  background-color: white;
}

.fg-grey {
  color: #F5F5F5 !important;
}

.bg-grey {
  background-color: #F5F5F5;
}

.fg-white {
  color: white;
}

.bg-orange {
  background-color: #E99B05;
}

.fg-orange {
  color: #E99B05;
}

.bg-green {
  background-color: #73C858;
}

.fg-green {
  color: #73C858;   
}

.bg-cyan {
  background-color: #63C7CB;
}

.fg-cyan {
  color: #63C7CB;   
}

.bg-red {
  background-color: #DE3B3B;
}

.fg-red {
  color: #DE3B3B;   
}

.mb-20px{
  margin-bottom: 20px;
}

.btn.bg-orange:focus,
.btn.bg-orange:hover {
  color: yellow;
}

.its {
  
}

.row > [class^='col']{
  height: 100%;
}

.center {
  text-align:center;
}

.media, .block, .thumbnail {
  font-family: OpenSans, verdana, sans-serif;
}

.media {
  margin-top: 10px;
}

.media-left {
  min-width: 20px;
  text-align: center;
}

.block {
  min-height: 250px;
  width: 100%;
  display: table;
  padding: 40px 0;
}

.block.block-min {
  min-height: inherit;
  padding-bottom: 20px;  
}

.block .block-wrap {
  display: table-cell;
  vertical-align: middle;
}

.block .block-heading {
  text-align: center;
}

.block .block-heading-icon {
  font-size: 40px;
}

.block .block-heading-text {
  color: #888;
  font-size: 22px;
}

.block .padded {
  margin: 0 5%;
}

.block .block-body {
  margin-top: 20px;
}

.block .block-body > p {
  text-align: center;
  line-height: 25px;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  
  .media-left {
    min-width: 44px;
  }
}

@media (min-width: 992px) {
  .block .padded {
    margin: 0 20%;
  } 
}

@media (min-width: 992px) {
  
}
