@IMPORT url("nav.css");
@IMPORT url("footer.css");

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

html {
  background-color: #E8E6D7;
  padding: 4px 0;
}

body {
  font-family: verdana, sans-serif;
  max-width: 1200px;
}

p {
  margin: 0;
  line-height: 24px;
}

input {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #BBB;
}

table {
    box-shadow: 2px 2px 6px #888;
    width: 98%;
    border: 1px solid #888;
    font-size: 10px;
}

th {
    background-color: #CCC;
}

td, th {
    border: 1px solid #888;
    padding: 2px 6px;
}

.bg-pattern {
  background-image: url(../images/main_abstract_pattern.png);
  text-shadow: 1px 1px 1px white;
}

.bg-pattern .btn {
  text-shadow: initial;
}

.bg-white {
  background-color: white;
}

.fg-grey {
  color: #F5F5F5 !important;
}

.bg-grey {
  background-color: #F5F5F5;
}

.fg-white {
  color: white;
}

.bg-orange {
  background-color: #E99B05;
}

.fg-orange {
  color: #E99B05;
}

.bg-green {
  background-color: #73C858;
}

.fg-green {
  color: #73C858;   
}

.bg-cyan {
  background-color: #63C7CB;
}

.fg-cyan {
  color: #63C7CB;   
}

.bg-red {
  background-color: #DE3B3B;
}

.fg-red {
  color: #DE3B3B;   
}

.fg-blue {
  color: #55ACEE;
}

.bg-blue {
  background-color: #55ACEE;
}

.fg-purple {
  color: #BA59C5;
}

.bg-purple {
  background-color: #BA59C5;
}

.mb-20px{
  margin-bottom: 20px !important;
}

.btn.bg-orange:focus,
.btn.bg-orange:hover {
  color: yellow;
}

.its {
    font-weight: bold;
    color: #999;
    text-shadow: 1px 1px 1px #DDD;
}

.row > [class^='col']{
  height: 100%;
}

.center {
  text-align:center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.small-text {
  font-size: 12px;
}

.big-text {
  font-size: 15px;
}

.media, .block, .thumbnail {
  font-family: OpenSans, verdana, sans-serif;
}

.media {
  margin-top: 10px;
}

.media-heading {
    line-height: 22px;
}

.media-left {
  min-width: 40px;
  text-align: center;
}

.media-body, .media-left, .media-right {
    display: table-cell;
}

.block {
  min-height: 250px;
  padding: 40px 20px;
  margin: 0 15px;
  border-radius: 8px;
}

.block.bg-grey {
  border: 1px solid #EAEAEA;
}

.block.block-min {
  min-height: inherit;
  padding-bottom: 0px;  
}

.block.table {
  display: table;
  width: 100%;
}

.block.table .block-wrap {
  display: table-cell;
  vertical-align: middle;
}

.block .block-heading {
  text-align: center;
  margin-bottom: 20px;
}

.block .block-heading-icon {
  font-size: 40px;
}

.block .block-heading-text {
  color: #888;
  font-size: 22px;
}

.block .padded {
  margin: 0;
}

.block .block-body {
  margin-top: 20px;
}

.block .block-body > p {
  text-align: center;
  line-height: 25px;
}

#page-content {
  border-width: 0 1px;
  border-style: solid;
  border-color: #DDD;
  padding: 15px 0;
}

.calendar-text {
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  padding: 4px 5px 0;
}

.event .more-info {
  font-weight: bold;
  color: black;
}

.event h5.media-heading {
  text-align: left;
  font-weight: bold;
  padding-bottom: 15px;
  color: #555;
  font-size: 19px;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
    margin: 0 auto;
  }
  
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  
  .media-left {
    min-width: 44px;
    padding-right: 10px;
  }
  
  .block .padded {
    margin: 0 5%;
  }
  
  .calendar-text {
    font-size: 18px;
    margin-left: 0px;
    float: none;
  }

    table {
        font-size: 12px;
    }

    td, th {
        padding: 4px 10px;
    }
}

@media (min-width: 992px) {
    .block .padded {
        margin: 0 10%;
    }

    table {
        font-size: 14px;
    }

}
