#twitter-feeds{
  border: 3px solid #55ACEE;
  border-radius: 6px;
  box-shadow: 2px 2px 13px #888;
  margin-bottom: 20px;
  font-family: OpenSans;
  height: 340px;
}

#twitter-feeds h5 {
    color: white;
    font-size: 36px;
    margin: 0;
    background-color: #55ACEE;
    padding: 4px;
    text-align: center;
}

#twitter-feeds > ul {
  padding: 15px;
  overflow-y: auto;
  height: 85%;
}

#twitter-feeds > ul > li {
  list-style-type: none;
  clear: both;
  margin-bottom: 10px;
}

#twitter-feeds .tweet,
#twitter-feeds .timePosted {
  font-size: 12px;
  line-height: normal;
}

#twitter-feeds .user img {
  border-radius: 4px;
  border: 1px solid #888;
  width: 50px;
  float: left;
  margin-right: 4px;
}

#twitter-feeds .user span {
  color: #999;
  font-size: 11px;
}

#twitter-feeds .tweet,
#twitter-feeds .interact {
  margin-left: 54px;
}

#twitter-feeds .timePosted {
  float: right;
  line-height: 24px;
  font-size: 11px;
}

#twitter-feeds .timePosted a {
  color: #888;
}

#twitter-feeds .twitter_reply_icon,
#twitter-feeds .twitter_retweet_icon,
#twitter-feeds .twitter_fav_icon {
  background-repeat: no-repeat;
  padding-left: 16px;
  background-position: center;
  margin-left: 4px;
}

#twitter-feeds .twitter_reply_icon {
  background-image: url('../images/twitter_reply.png');
}

#twitter-feeds .twitter_retweet_icon {
  background-image: url('../images/twitter_retweet.png');
}

#twitter-feeds .twitter_fav_icon {
  background-image: url('../images/twitter_favourite.png');
}