#sched-events {
    margin: 0;
}

#sched-events .media-body .link {
  text-decoration: underline; 
}

#sched-events .media-body .section-title{
    font-weight: bold;
    font-size: 15px;
    color: #666;
}

#sched-events .event img {
  border-radius: 6px;
}

#sched-events .event a:hover {
  color: #888888;
}

#sched-events .event {
  border-radius: 8px;
  border: 1px solid transparent;
}

#sched-events .event.permanent {
    /*background-color: #FDFBF1;*/
    border: 1px solid #ECDD9C;
}

#sched-events .event:hover {
  background-color: #F7F7F7;
  border-color: #EEE;
}

#sched-events .event .media-left {
  display: block;
  margin: 20px 0;
  min-width: 100px;
  padding-right: 4px;
}

#sched-events .event .calendar {
  padding: 2px 4px 0px;
  border: 1px solid #EEE;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #BBB;
  color: #E99B05;
}

#sched-events .event.permanent .calendar {
    border: none;
    box-shadow: none;
    background: transparent;
}

#sched-events .event .media-body {
  text-align: justify;
}

#sched-events .event .calendar-text .fa {
  font-size: 30px;
}

#next {
  margin-left: 15px;
}

#next .media-body {
  text-align: justify;
}

@media (min-width: 768px) {
    #sched-events .event {
        padding: 20px;
    }

  #sched-events .event .media-left {
    display: table-cell;
  }
  
  #sched-events .event .calendar {
    width: 120px;
    padding: 10px 0;
  }
  
  #sched-events .event .media-body {
    padding-left: 20px;
  }
  
}