#map{
  height: 300px;
}

.walk {
  background-image: url(../res/walk.png);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 16px;
}

#directions-tabs > .nav-pills {
  display: table;
  margin: 0 auto;
}

#directions-tabs > .nav-pills > li > a {
  color: #63C7CB;
  border: 2px solid transparent; 
}

#directions-tabs > .nav-pills > li.active > a,
#directions-tabs > .nav-pills > li.active > a:focus,
#directions-tabs > .nav-pills > li.active > a:hover {
  background-color: initial;
  border-color: #63C7CB;
  color: #63C7CB;
}

#directions-tabs > .tab-content ol {
  padding-left: 20px;
}

#directions-tabs > .tab-content ol > li {
  margin-top: 20px;
}         

#directions-tabs > .tab-content ol > li > .fa {
  margin-right: 5px;
}

#directions-tabs > .tab-content > .tab-pane.active {
  display: table;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #directions-tabs > .tab-content ol {
    padding-left: initial;
  }
}