#staff {
  padding-bottom: 5px;
}

#staff .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.staff-profile {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #DDD;
  background-color: white;
  margin-bottom: 30px;
}

.staff-profile .media-heading {
  margin-bottom: 10px;
  text-align: center;
}

.staff-profile .media-left {
  display: block;
  margin-bottom: 10px;
}

.staff-profile .media-body p {
  text-align: justify;
}

.role {
  font-size: 14px;
  font-style: italic;
  position: relative;
  color: #888;
  font-weight: bold;
  bottom: 1px;
}

#mission .block-body > p {
  text-align: left;
  padding-left: 5px;
}

#mission .media-body {
  vertical-align: middle;
}

@media (min-width: 768px) {
  #staff .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .staff-profile .media-left{
    display: table-cell;
  }
  
  .staff-profile .media-heading {
    text-align: left;
  }
}

@media (min-width: 992px) {

}
